# Runtime artifacts
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# Bootsnap cache
/tmp/cache/bootsnap/

# Ignore key files for decrypting credentials and more.
/config/*.key
